:root{
    --white: #ffffff;
    --lilac-600: #fff0ff;
    --lilac-700:#dbb6ee;
    --lilac-800: #b57edc;
    --purple-900: #7f4ca5;
    --purple-500:#4b1c71;
    --white-100: #f5f5f5;
    --hot-100: #10001d;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: var(--white-100);
    color: var(--gray-300);
    -webkit-font-smothing: antialiased;
}

body,input,textarea, button{
    font-family: "Cormorant";
  font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}